# .NET
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json
appsettings.Local.json

# Angular / Node
node_modules/
dist/
.angular/
*.log
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Secrets
*.pfx
secrets.json